<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Password Manager</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>

	<h3>Hello Passwords!</h3>
	<div>
		<ul>
			<li><a th:href="@{/get}">Get all passes</a></li>
			<li><a th:href="@{/addDupe}">Generate password</a></li>
			<li><a th:href="@{/getByDupe}">Get by mail</a></li>
			<li><a th:href="@{getsite}">Get by site name</a>
		</ul>
	</div>


</body>
</html>
